<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/drake_logo.png" />
                   
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>HỆ THỐNG SHOP</h4></div>
                    <ul>
                        <li>504 CMT8, P.11, Q.3</li>
                        <li>412 Lê Văn Sỹ, P.14, Q.3</li>
                        <li>19 Nguyễn Trãi, P.2, Q.5</li>
                        <li>55 Quang Trung, P.10, Q.Gò Vấp</li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>ACCOUNT</h4></div>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Specials</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>LIÊN HỆ</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>502/11 XVNT, P.25, Q.Bình Thạnh</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>0333493462</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>16520122@gm.uit.edu.vn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Designed by KLC Team
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

